

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                data-ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="declarationDetail" data-translate="declarationUser.declarationDetail.title">
            Declaration Detail</h4>
    </div>

    <div class="modal-body">

    </div>

    <div class="modal-footer">
        <button  type="button" class="btn btn-custom-cancel" data-dismiss="modal" data-ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>

    </div>
