<div>
    <h2 data-translate="petiteAnnonceKmerApp.declaration.home.title">Declarations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="declaration.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="petiteAnnonceKmerApp.declaration.home.createLabel">
                        Create new Declaration
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span data-translate="petiteAnnonceKmerApp.declaration.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="petiteAnnonceKmerApp.declaration.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creationDate"><span data-translate="petiteAnnonceKmerApp.declaration.creationDate">Creation Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifiedDate"><span data-translate="petiteAnnonceKmerApp.declaration.lastModifiedDate">Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isPublished"><span data-translate="petiteAnnonceKmerApp.declaration.isPublished">Is Published</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="price"><span data-translate="petiteAnnonceKmerApp.declaration.price">Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="publishedDate"><span data-translate="petiteAnnonceKmerApp.declaration.publishedDate">Published Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="owner.firstName"><span data-translate="petiteAnnonceKmerApp.declaration.owner">Owner</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="localisation.city"><span data-translate="petiteAnnonceKmerApp.declaration.localisation">Localisation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="declaration in vm.declarations track by declaration.id">
                    <td><a ui-sref="declaration-detail({id:declaration.id})">{{declaration.id}}</a></td>
                    <td>{{declaration.title}}</td>
                    <td>{{declaration.description}}</td>
                    <td>{{declaration.creationDate | date:'medium'}}</td>
                    <td>{{declaration.lastModifiedDate | date:'medium'}}</td>
                    <td>{{declaration.isPublished}}</td>
                    <td>{{declaration.price}}</td>
                    <td>{{declaration.publishedDate | date:'medium'}}</td>
                    <td>
                        {{declaration.owner.firstName}}
                    </td>
                    <td>
                        <a ui-sref="localisation-detail({id:declaration.localisation.id})">{{declaration.localisation.city}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="declaration-detail({id:declaration.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="declaration.edit({id:declaration.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="declaration.delete({id:declaration.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
